* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hero {
    display:inline-block;
    color: #FFFFFF;
    background-color: #882D61;
    border-radius:10px;
    width: 20%;
    margin-bottom: 1em;
    padding:1em;
}


.description {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA3939;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 2em;
    font-size: 16px;
    padding: 4em;
}

.recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA6C39;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 2em;
}

.recipes a:link {
    color: #FFFFFF;
}

.recipes a:visited {
    color: #D49A6A;
}

.preview {
    height: auto;
    width: 33%;
    border: 4px solid black;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2em;
}

.ingredients {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA3939;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 2em;
    
}

.directions {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #AA6C39;
    color: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 2em;
    font-size: 16px;
    padding:4em;
}

.directions li {
    margin-bottom: 1em;
}

/*
Maroon - AA3939, Light - FFAAAA, Dark - 801515
PUKE YELLOW - AA6C39, Light - D49A6A, Dark - 804515
LILAC - 882D61, Light - AA5585, Dark - 661141

*/